/* scroll bar custom */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #303C3A; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* gradient for text */
.gradient-text{
    background:  -webkit-linear-gradient(135deg, #FAE196 0%, #F58994 50.7%, #9694E9 100%);
    font-weight: 780;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Navbar */
/* .bg-bts .navbar-lp .offcanvas-navbar{
    display: none;
} */


/* Backgroun */
.bg-bts{
    width: 100%;
    height: auto;
    background-color: #303C3A;
    background-size: cover;
    color: #fff;
    overflow: hidden;
}

/* Page 1 */

.bg-bts .page1 .page1-content{
    padding-top: 50px;
}

.bg-bts .page1 .page1-content h1{
    max-width: 700px;
    font-size: 54px;
    font-weight: 600;
    letter-spacing: 0.8px;
}

.bg-bts .page1 .page1-content p{
    padding-top: 20px;
    max-width: 480px;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.bg-bts .page1 .page1-content .button{
    display: flex;
    padding-top: 20px;
    margin-left: -10px;
}

.bg-bts .page1 .page1-content .button .login{
    border-radius: 28px;
    width: 110px;
    margin: 0 8px;
}

.bg-bts .page1 .page1-content .button .video{
    border-radius: 28px;
    width: 140px;
    margin: 0 8px;
}

.bg-bts .page1 .page1-content .fungsi{
    padding-top: 80px;
    display: none;
}

.bg-bts .page1 .page1-content .fungsi h6{
    font-size: 16px;
    font-weight: 600;   
}

.bg-bts .page1 .page1-content .fungsi p{
    margin-top: -10px;
    font-size: 14px;
    font-weight: 200;   
    letter-spacing: 0.6px;
}

.bg-bts .page1 .page1-content .fungsi .icon2-page1{
    margin-left: -20px;
}

.bg-bts .page1 .page1-content .fungsi .qoutes{
    margin-left: -20px;
}

.bg-bts .page1 .page1-img{
    width: 1080px;
    height: 1000px;
    margin-top: -270px;
    margin-left: -300px;
}

.bg-bts .page1 .page1-img2{
    display: none;
}


/* Page Angkatan */
.bg-bts .page-akt{
    margin-top: -60px;
}
.bg-bts .page-akt .page-akt-content h1{
    max-width: 700px;
    margin-top: 20px;
    font-size: 54px;
    font-weight: 600;
    letter-spacing: 0.8px;
}

.bg-bts .page-akt .page-akt-content p{
    padding-top: 20px;
    padding-bottom: 10px;
    max-width: 480px;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.bg-bts .page-akt .page-akt-content .button{
    margin-left: -10px;
}
.bg-bts .page-akt .page-akt-content .video{
    border-radius: 28px;
    width: 140px;
    margin: 0 8px;
}


/* Page Sekolah */
.bg-bts .page-sekolah{
    padding-top: 180px;
}
.bg-bts .page-sekolah .page-sekolah-img1{
    width: 360px;
    padding-top: 20px;
    margin-left: -110px;
}

.bg-bts .page-sekolah h1{
    max-width: 700px;
    margin-top: 20px;
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 0.8px;
}

.bg-bts .page-sekolah p{
    padding-top: 20px;
    padding-bottom: 10px;
    max-width: 660px;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.bg-bts .page-sekolah .button .video{
    border-radius: 28px;
    width: 140px;
    margin: 0 8px;
}

.bg-bts .page-sekolah .page-sekolah-img2{
    margin-left: 0px;
    margin-bottom: -160px;
}


/* Page 2 */
.bg-bts .page2 {
    margin-top: 180px;
}

.bg-bts .page2 .page2-content .page2-img1{
    margin-top: -20px;
    margin-left: -140px;
}

.bg-bts .page2 .page2-content h4{
    padding-top: 60px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 4px;
    text-align: end;
}

.bg-bts .page2 .page2-content .box-sambutan{
    background: #899593;
    padding: 30px 20px;
    padding-left:  230px;
    border-radius: 10px;
}

.bg-bts .page2 .page2-content .page2-img2{
    margin-top: -364px;
    margin-left: -150px;
}

.bg-bts .page2 .page2-content .page2-img3{
    margin-right: -170px;
    margin-top: -300px;
    margin-bottom: -280px;
}


/* Page 3 */
.bg-bts .page3 {
    padding-top: 40px;
}

.bg-bts .page3 h1{
    max-width: 400px;
    font-size: 58px;
    font-weight: 600;
    padding-top: 40px;
}

.bg-bts .page3 .col{
    padding-top: 25px;
}

.bg-bts .page3  .page3-box{
    background: #899593;
    border-radius: 10px;
    padding: 20px 0;
}

.bg-bts .page3 .page3-box .profile-kaprog h6{
    margin-top: 6px;
    font-size: 16px;
    letter-spacing: 1px;
}

.bg-bts .page3 .page3-box .profile-kaprog p{
    margin-top: -12px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}

.bg-bts .page3 .page3-box .page3-img1{
    width: 320px;
    display: block;
    margin: 0 auto;
}



/* Delete */
/* Page4 */
.bg-bts .page4 {
    display: none;
    padding-top: 120px;
    padding-bottom: 100px;
}

.bg-bts .page4 .page4-img1{
    width: 1200px;
    margin-top: -20px;
    margin-left: -180px;
}

.bg-bts .page4 .page4-title{
    font-size: 58px;
    font-weight: 600;
}
.bg-bts .page4 .slide-galery .galery{
    width: 100%;
    display: block;
    margin: 0 auto;
 }
/* Delete */





/* Page 5 */
.bg-bts .page5 {
    padding-top: 80px;
}

.bg-bts .page5 .page5-title{
    font-size: 58px;
    font-weight: 600;
}

.bg-bts .page5 .page5-img1{
    height: 130px;
    margin-top: 8px;
}

.bg-bts .page5 .page5-text{
    margin-top: 14px;
    margin-left: -60px;
}

.bg-bts .page5 .page5-img2{
    margin-top: -50px;
   margin-left: 0px;
   margin-bottom: -160px;
}

.bg-bts .page5 .box-team{
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    width: fit-content;
    border-radius: 10px;
}

.bg-bts .page5 .col{
    padding-top: 25px;
}

.bg-bts .page5 .fajar{
    padding-top: 10px;
}
.bg-bts .page5 .rafly{
    padding-top: 6px;
}
.bg-bts .page5 .angga{
    padding-top: 6px;
}

.bg-bts .page5 .maghvi{
    margin-top: -10px;
}

.bg-bts .page5 .fadil{
    margin-top: 8px;
}


/* footer */
.bg-bts .footer{
    background-color: #4e5856;
    padding-top: 40px;
}

.bg-bts .footer .footer-logo-img{
    width: 220px;
    height: auto;
}

.bg-bts .footer .footer-menu{
    justify-content: space-between;
}

.bg-bts .footer .footer-menu h6{
    cursor: pointer;
    color: #899593;
}

.bg-bts .footer .footer-menu h6:hover{
    color: #fff;
}

.bg-bts .creator{
    background: #767e7c;
    padding: 2px 0;
}
.bg-bts .creator p{
   margin: 8px 0;
   font-size: 14px;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25% ;/* Player ratio: 100 / (1280 / 720) */   
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 14px 10px 20px rgba(0,0,0,1);
  }


/* Phone Display or Responsive */
@media (max-width:991px) {
    .bg-bts .navbar-lp .menu{
        display: none;
    }


    .bg-bts .page1 .page1-content h1{
        max-width: none;
        font-size: 40px;
        font-weight: 500;
        margin-top: -100px;
        text-align: center;
    }
    .bg-bts .page1 .page1-content p{
        text-align: center;
        font-size: 16px;
        font-weight: 300;
    }
    .bg-bts .page1 .page1-content .button{
        justify-content: center;
    }
    .bg-bts .page1 .page1-content .button .video{
        width: 110px;
    }
    .bg-bts .page1 .page1-content .fungsi{
        padding-top: 0;
    }
    .bg-bts .page1 .page1-content .fungsi h6{
        font-size: 14px;
    }
    .bg-bts .page1 .page1-content .fungsi p{
        text-align: left;
        font-size: 12px;
        font-weight: 100;
        letter-spacing: 0.2px;
    }
    .bg-bts .page1 .page1-content .fungsi .garis{
        margin-left: -10px;
    }
    .bg-bts .page1 .page1-img{
        display: none;
    }
    .bg-bts .page1 .page1-img2{
        width: 110%;
        height: 110%;
        display: block;
        margin: 0 auto;
    }

    
    /* Page angkatan */
    .bg-bts .page-akt{
        padding-top: 180px;
    }
    .bg-bts .page-akt .page-akt-content h1{
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 0.8px;
    }
    .bg-bts .page-akt .page-akt-content p{
        max-width: 340px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.5px;
    }
    .bg-bts .page-akt .page-akt-content .button{
        margin-left: -10px;
    }
    .bg-bts .page-akt .page-akt-content .video{
        border-radius: 28px;
        width: 140px;
        margin: 0 8px;
    }
    .col-video{
        padding-top: 80px;
    }


    /* Page Sekolah */
    .bg-bts .page-sekolah .page-sekolah-img1{
        width: 70%;
        display: block;
        margin: 0 auto;
    }
    .bg-bts .page-sekolah h1{
        margin-top: 60px;
        font-size: 32px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-align: center;
    }    
    .bg-bts .page-sekolah p{
        padding-top: 20px;
        padding-bottom: 10px;
        max-width: 660px;
        font-size: 17px;
        font-weight: 400;
        letter-spacing: 0.2px;
        text-align: center;
    }
    .bg-bts .page-sekolah .button{
        padding-top: 30px;
    }
    .bg-bts .page-sekolah .button .video{
        width: 60%;
        height: 40px;
        display: block;
        margin: 0 auto;
    }
    .bg-bts .page-sekolah .page-sekolah-img2{
    display: none;
    }


    /* page2 */
    .bg-bts .page2{
        padding-top: 40px;
    }
    .bg-bts .page2 .page2-content .page2-img1{
        display: none;
    }
    .bg-bts .page2 .page2-content h4{
        text-align: start;
    }
    .bg-bts .page2 .page2-content .box-sambutan{
        padding-left: 20px;
        padding-bottom: 40px;
    }
    .bg-bts .page2 .page2-content .page2-img2{
        margin-top:-220px;
        margin-left: 0px;
    }
    .bg-bts .page2 .page2-content .page2-img3{
        display: none;
    }

 
    /* page3 */
    .bg-bts .page3 h1{
        padding-top: 100px;
        font-size: 40px;
        font-weight: 500;
    }
    .bg-bts .page3 .page3-box .profile-kaprog{
        display: flex;
    }


    /* Delete */
    /* page4 */
    .bg-bts .page4 .page4-title{
        font-size: 40px;
        font-weight: 500;
    }
    .bg-bts .page4 .page4-img1{
        display: none;
    }
    /* Delete */



    /* page5 */
    .bg-bts .page5{
        padding-top: 200px;
    }
    .bg-bts .page5 .page5-title{
        font-size: 40px;
        font-weight: 500;
    }
    .bg-bts .page5 .page5-img1{
        display: none;
    }
    .bg-bts .page5 .page5-text{
        display: none;
    }
    .bg-bts .page5 .page5-img2{
        width: 300px;
        margin-top: -160px;
        margin-left: 200px;
    }
    .bg-bts .page5 .fadil{
        align-content: center;
    }

    /* footer */
    .bg-bts .footer{
       padding-bottom: 20px;
    }
    .bg-bts .footer .footer-menu h6{
        display: none;
    }
}