
/* Background */
.bg-jurusan{
    width: 100%;
    height: auto;
    background-color: #303C3A;
    background-size: cover;
    color: #fff;
    overflow: hidden;
}


/* The Modal (background) */
.bg-jurusan .modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 80px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(19, 8, 8, 0.404);
    backdrop-filter: blur(5px);
  }
  
  /* Modal Content */
  .bg-jurusan .modal-content {
    background: none;
    padding: auto;
    border: none;
    width: 28%;
    z-index: 2;
  }

  .bg-jurusan .modal-content .close{
      width: fit-content;
      float: right;
      position: absolute;
      right: 10px;
      top: 6px;
      color: #fff;
      font-size: 24px;
      padding-bottom: 10px;
      cursor: pointer;
  }

  .img-siswa{
    width: 280px;
    height: 280px;
    object-fit: cover;
  }
/* Phone Display or Responsive */
@media (max-width:991px) {

    .bg-jurusan .modal{
        padding-top: 120px;
    }

    .bg-jurusan .modal-content {
        width: 90%;
      }

      .bg-jurusan .modal-content .close{
          top: -35px;
          margin-right: -10px;
          font-size: 30px;
      }

      .img-siswa {
        width: 356px;
        height: 356px;
      }
}