section .post{
    margin-top: 100px;      
}

section .post h1{
    font-size: 35px;
}

.btn1{
    float: right;
    border-radius: 10px;
    width: 80px;
}

.btn2{
    float: right;
    width: 200px;
    border-radius: 10px;
}

